{% extends 'base.html.twig' %}

{% block title %}Content{% endblock %}

{% block body %}
    <h1>Content</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ content.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ content.title }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ content.text }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ content.code }}</td>
            </tr>
            <tr>
                <th>Video</th>
                <td>{{ content.video }}</td>
            </tr>
            <tr>
                <th>StepOrder</th>
                <td>{{ content.stepOrder }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ content.createdAt ? content.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ content.updatedAt ? content.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ content.status }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ content.imageName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_content_index') }}">back to list</a>

    <a href="{{ path('app_content_edit', {'id': content.id}) }}">edit</a>

    {{ include('admin_mode/content/_delete_form.html.twig') }}
{% endblock %}
