{% extends 'base.html.twig' %}

{% block title %}Content index{% endblock %}

{% block body %}
    <h1>Content index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Text</th>
                <th>Code</th>
                <th>Video</th>
                <th>StepOrder</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Status</th>
                <th>ImageName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for content in contents %}
            <tr>
                <td>{{ content.id }}</td>
                <td>{{ content.title }}</td>
                <td>{{ content.text }}</td>
                <td>{{ content.code }}</td>
                <td>{{ content.video }}</td>
                <td>{{ content.stepOrder }}</td>
                <td>{{ content.createdAt ? content.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ content.updatedAt ? content.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ content.status }}</td>
                <td>{{ content.imageName }}</td>
                <td>
                    <a href="{{ path('app_content_show', {'id': content.id}) }}">show</a>
                    <a href="{{ path('app_content_edit', {'id': content.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_content_new') }}">Create new</a>
{% endblock %}
