<div class="flex h-full">
    <div class="w-64 h-full p-5 " style="background-color:#4748EE">
        <ul class="space-y-4 mt-5">
        {% if app.user.roles[0] != "ROLE_TEACHER" %}
            <li>
                <a 
                    href="{{ path('app_admin_mode_user') }}" 
                    class="text-white hover:bg-[#7D97F4] 
                        {{ app.request.attributes.get('_route') == 'app_admin_mode_user' 
                        or app.request.attributes.get('_route') == 'app_admin_mode_user_edit'  ? 'bg-[#7D97F4]' : ''  }} p-3 rounded-lg block">
                    Utilisateur
                </a>
            </li>
             <li>
                <a 
                    href="{{ path('app_categories_index') }}" 
                    class="text-white hover:bg-[#7D97F4]  
                        {{ app.request.attributes.get('_route') == 'app_categories_index' 
                        or app.request.attributes.get('_route') == 'app_categories_new' 
                        or app.request.attributes.get('_route') == 'app_categories_edit'  ? 'bg-[#7D97F4]' : ''  }} p-3 rounded-lg block">
                    Categories
                </a>
            </li>
        {% endif %}
            
            <li>
                <a 
                    href="{{ path('app_tutorials_index') }}"
                    class="text-white hover:bg-[#7D97F4]
                        {{ app.request.attributes.get('_route') == 'app_tutorials_index' 
                        or app.request.attributes.get('_route') == 'app_tutorials_new' 
                        or app.request.attributes.get('_route') == 'app_tutorials_edit' 
                        or app.request.attributes.get('_route') == 'app_tutorials_show'
                        or app.request.attributes.get('_route') == 'app_chapter_new' 
                        or app.request.attributes.get('_route') == 'app_chapter_edit'
                        or app.request.attributes.get('_route') == 'app_content_new' 
                        or app.request.attributes.get('_route') == 'app_content_edit'  ? 'bg-[#7D97F4]' : ''  }} p-3 rounded-lg block">
                    Tutoriels
                </a>
            </li>
            {#
            <li>
                <a href="#" class="text-white hover:bg-[#7D97F4] p-3 rounded-lg block">Logout</a>
            </li> #}
        </ul>
    </div>
</div>