{{ form_start(form) }}
    <div class="mb-5">
        {{ form_widget(form.title,{'attr':{'class':'shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5','placeholder':'Titre'}}) }}
    </div>
    <div class="mb-5">
        {{ form_widget(form.description,{'attr':{'class':'shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5','placeholder':'Description'}}) }}
    </div>
    <div class="mb-5">
        <label for="imageFile" class="block mb-2 text-sm font-medium text-gray-900">Image</label>
        <div id="imageFile">
            {{ form_widget(form.imageFile,{'attr':{'class':'block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none'}}) }}
            <p class="mt-1 text-sm text-gray-700" id="file_input_help">Téléchargez une image (PNG, JPG, etc.).</p>
        </div>
    </div>

    <div class="mb-5">
        <label for="categories" class="block mb-2 text-sm font-medium text-gray-900">Catégories</label>
        <div id="categories" class="flex">
            {% for category in form.categories %}
                <div class="flex items-center ml-2">
                    {{ form_widget(category, {'attr': {'class':'w-4 h-4  bg-gray-100 border-gray-300 rounded focus:ring-purple-500  focus:ring-2','style':'color:#4748EE'}}) }}
                    <label for="{{ category.vars.id }}" class="ml-2 text-sm text-gray-900">{{ category.vars.label }}</label>
                </div>
            {% endfor %}
        </div>
    </div>

    <button class="text-white hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none w-full " style="background-color:#4748EE">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
